<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-unitechsdk" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UnitechSDK</name>
    <js-module src="www/UnitechSDK.js" name="UnitechSDK">
        <clobbers target="navigator.unitechsdk" />
    </js-module>    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="UnitechSDK"><param name="android-package" value="com.cordova.plugin.UnitechSDK" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/UnitechSDK.java" target-dir="src/com/cordova/plugin" />
        <source-file src="src/android/UnitechSDK.jar" target-dir="libs" />
    </platform>
</plugin>